* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    
    margin-top: 20px;
    max-height: 520px;
}

.calculator {
    padding: 20px 20px 10px;

    border: 1px solid black;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.calculator .screen {
    background-color: #ededed;
    border: 1px solid black;

    text-align: right;
    padding: 0 10px;
}

.calculator .screen .previous-content {
    display: flex;
    justify-content: end;
    gap: 10px;

    font-size: 26px;
    min-height: 30px;
}

.calculator .screen .current-operand {
    font-size: 36px;
    min-height: 50px;
}

.calculator .keyboard {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.calculator .keyboard .row {
    display: flex;
    justify-content: space-around;

    gap: 25px;
}

.calculator .keyboard .row .key-CE {
    margin-left: auto;
}

.calculator .keyboard .row.first {
    font-size: 33px;
    align-items: center;
    gap: 10px;
}

.calculator .keyboard button {
    font-size: 30px;
    min-width: 60px;
    min-height: 50px;
}

.calculator .keyboard button:active {
    background-color: initial; 
    box-shadow: none;
}


.history {
    margin-left: 30px;
    font-size: 30px;
    
    width: 500px;
    overflow: auto;
}

.history * {
    margin-bottom: 10px;
}